body {
	background-color:#DDEEFF;
	max-width: 600px;
	margin: 0 auto;
	padding-top : 20px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	padding: 0;
	line-height: 1;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

header {
	display: block;
	color: black;
	top: 0px;
	left: 0px;
	padding: 0 0 6px;
}

.title {
	display: block;
	text-align: center;
	padding: 0 25px;
	margin: 0 auto 20px;
}

.title h1{
	font-family: 'Noticia Text', serif;
	font-weight: 700;
	font-size: 36px;
	margin: 0;
}

.avatar {
	display: block;
	border-radius:50%;
	overflow:hidden;
	width:200px;
	margin: 0 auto;
}

menu {
	clear:both;
	display: block;
}

menu ul li{
	background-color: #002244;
	color: white;
	display: block;
	padding: 5px 30px;
	margin: 1px auto;
	text-align: center;
}

menu ul li:hover {
	background-color: #222222;
	cursor: pointer;
}

menu ul li.active {
	background-color: #224466;
}

header .title{
	display: block;
	max-width: 600px;
}

header {
	border-bottom: 1px solid black;
}

content {
	position: relative;
	display: block;
	margin: 20px;
	clear: both;
	text-align: center;
}

content div{
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}

content img {
	width: 100%;
	max-width: 500px;
}

.wrapper{
	margin-left: 20px;
	margin-right: 20px;
}

.clearfix:before, .clearfix:after {
	content: "";
}

.clearfix:after {
	clear:both;
}

h3 {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

h4 {
	font-weight: bold;
}

ul {
	margin-left: 20px;
}


/*=================
Screen size: WIDE
=================*/
@media only screen and (min-width: 620px) {

	.title {
		float: left;
		margin-left: 0px;
		margin-top: 5px;
	}

	menu {
		float:right;
		clear: none;
	}

	menu ul li{
		background-color: #002244;
		color: white;
		display: block;
		padding: 5px 40px;
		margin: 1px;
	}

	.avatar {
		margin-right: 30px;
		float: left;
	}

}

/*=================
Screen size: VERY WIDE
=================*/
@media only screen and (min-width: 1000px) {

}