body {
	background-color: blue;
}

div {
	background-color:white;
	margin-top: 20px;
	padding-left:50px;
	padding-right:50px;
	padding-top: 25px;
	padding-bottom: 25px;

	border-color:black;
	border-width: 5px;
	border-style: solid;
}

.wrapper {
	margin-left : 25px;
	margin-right: 25px;
	min-width: 400px;
}

#header {
	height: 80px;
	width: 350px;
	font-size:50px;
	padding-top: 50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#footer {
	margin-bottom: 50px;
}

.post {
	padding-left: 100px;
}

.post>H1{
	font-family:serif;
	/*line-height: 0px;*/
	margin: 0px;
}

.post>H2{
	font-family:sans-serif;
	margin: 0px;
	/*line-height: 0px;*/
	font-size: 15px;
	padding-top: 5px;
	padding-left: 20px;
}

.post>H3{
	font-family:sans-serif;
	padding-top:10px;
	font-size: 20px;
	padding-left:50px;
	padding-right:50px;
	font-weight: normal;
}

.code{
	font-family:'Courier',sans-serif;
	font-size: 16px;
	border-width: 1px;
}

@media only screen and (min-width: 850px) {

	.wrapper {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

}